*.pyc
*.pyo
*.pyd
.Python
venv/
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis

requirements-dev.txt
README.md
.pre-commit-config.yaml
.gitignore
